# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Create a Jupyter Notebook
- List popular languages that Data Scientists use
- List Commonly used libraries used by Data Scientists include:
- Create a single column table
- Evaluate arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. C++
4. Scala
5. SQL
6. Java

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy
3. Matplotlib
4. Pandas
5. NumPy

| Data Science Tools |
| -------------|
| Jupyter |
| RStudio  |
| Spyder  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60.
minutes = 200
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours} hours.")

200 minutes is equal to 3.3333333333333335 hours.

## Author
Bradley Johnson